.education {
    background-color: black;
}

.education h1 {
    text-align: center;
    color: chocolate;
}

.education .content {
    color: yellow;
    text-shadow: 3px 3px 4px peru;
}

@media only screen and (max-width: 600px) {
    .education {
        /* border: 2px solid rgb(169, 32, 32); */
        /* display: none; */
        position: absolute;
        top: 250vh;
        left: 50px;
        width: 100%;
    }
}