.experience h1 {
    text-align: center;
    color: chocolate;
}

@media only screen and (max-width: 600px) {
    .experience {
        /* border: 2px solid rgb(169, 32, 32); */
        /* display: none; */
        position: relative;
        top: 450vh;
        left: 50px;
    }
}