.techstack {
    /* border: 1px solid red; */
    background-color: black;
    width: 100%;
}

.techstack h1 {
    text-align: center;
    /* background-color: black; */
    color: chocolate;
}

.techstack p {
    color: darkgoldenrod;
    text-align: center;
    text-transform: capitalize;
    font-weight: 700;
}

.cardContainer {
    color: black;
    border-radius: 25px;
    padding: 15px;
    margin: 10px 20px;
    background-color: burlywood;
}

.cardContainer:hover {
    box-shadow: 0 0 15px lightsalmon;
    background-color: coral;
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    .techstack {
        /* display: none; */
        position: absolute;
        top: 500vh;
        left: 50px;
        /* border: 2px solid white; */
    }
    .techstack .cardContainer {
        margin: 10px 0;
    }
}